<div class="my-root-container">
  <h2>Non Admin Users</h2>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef> First Name </th>
      <td mat-cell *matCellDef="let element"> {{element.profile.firstName}} </td>
    </ng-container>
  
    
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef> Last Name </th>
      <td mat-cell *matCellDef="let element"> {{element.profile.lastName}} </td>
    </ng-container>
  
    
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.profile.email}} </td>
    </ng-container>

    <ng-container matColumnDef="admin">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let elementl let i = index"> <button mat-button color="primary" (click)="adminise(i)">Make me admin</button> </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>