<div class="root-container">
    <h2> Add User to Organization</h2>
    <form [formGroup]="userForm">
        <mat-form-field style="display: block;">
            <mat-label>First Name</mat-label>
            <input formControlName="firstName" matInput placeholder="First Name">
          </mat-form-field>
          <mat-form-field style="display: block;">
            <mat-label>Last Name</mat-label>
            <input formControlName="lastName" matInput placeholder="Last Name">
          </mat-form-field>
          <mat-form-field style="display: block;">
            <mat-label>Email</mat-label>
            <input formControlName="email" matInput placeholder="Email">
          </mat-form-field>
          <mat-form-field style="display: block;">
            <mat-label>Phone</mat-label>
            <input formControlName="phone" matInput placeholder="Phone">
          </mat-form-field>
    </form>
    <button mat-button color="primary" (click)="create()"> Create User </button>
</div>