<mat-toolbar color="primary">
    <span>Acme Industries</span>
  
    <span class="example-fill-remaining-space"></span>
    <button mat-button color="accent"  *ngIf="isAdmin" [routerLink]="['/secured/admin']"> Admin </button> <!--*ngIf="isAdmin"-->
    <button mat-button color="accent" *ngIf="isAdmin" [routerLink]="['/secured/create']"> Create User </button>
    <button mat-button color="accent" *ngIf="!isAuthenticated" (click)="login()"> Login </button>
    <button mat-button color="accent" *ngIf="isAuthenticated" (click)="logout()"> Logout </button>
</mat-toolbar>
<router-outlet></router-outlet>
